<html>
<head>
  <title>Example Zip Code Search</title>
  <style type="text/css">
    body {
      font: 0.9em Arial, Helvetica, sans-serif;
    }
    h1 { font: 1.2em Arial, Helvetica, sans-serif; }
    input.txt { color: #00008b;
      background-color: #c4f1c0;
      border: 1px inset #00008B;
      width: 100px;
    }
    input.btn {
      color: #00008b;
      background-color: #c4f1c0;
      border: 1px outset #00008B;
    }
    form p {
      clear: left;
      margin: 0;
      padding: 0;
      padding-top: 5px;
    }
    form p label {
      float: left;
      width: 180px;
      font: bold 0.9em Arial, Helvetica, sans-serif;
    }
    table {
      margin-left: 30px;
      border: 1px solid #D6DDE6;
      border-collapse: collapse;
    }
    td {
      border: 1px solid #6b9c0d;
      text-align: center;
      padding: 4px;
      font-size: 10px;

    }
    th {
      border: 1px solid #6b9c0d;
      background-color: #c4f1c0;
      color: #000;
      font-weight: bold;
      padding: 5px;
      font-size: 12px;
    }

  </style>
</head>
<body>
<h1> Club Ceramic Invoice </h1>

<%= form_tag({:controller => "clubceramic_invoice", :action => "create_invoice"}) %>

<p> Fill Up Following Information to Create an Invoice</p>

<table>
  <tbody>
  <tr>
    <td width="500">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <table width="495">
              <tbody>
              <tr>
                <td width="115">
                  <p><strong>Date</strong></p>
                </td>
                <td width="97">
                  <p><strong>Sales Rep.</strong></p>
                </td>
                <td width="141">
                  <p><strong>Delivery Date</strong></p>
                </td>
                <td width="141">
                  <p><strong>Delivery Method</strong></p>
                </td>
              </tr>
              <tr>
                <td width="115">
                  <p>08/19/2017</p>
                </td>
                <td width="97">
                  <p>NA</p>
                </td>
                <td width="141">
                  <p>08/19/2017</p>
                </td>
                <td width="141">
                  <p>Self Pick Up</p>
                </td>
              </tr>
              <tr>
                <td width="115">
                  <p>&nbsp;</p>
                </td>
                <td width="97">
                  <p>&nbsp;</p>
                </td>
                <td width="141">
                  <p>&nbsp;</p>
                </td>
                <td width="141">
                  <p>&nbsp;</p>
                </td>
              </tr>
              </tbody>
            </table>
            <p>&nbsp;</p>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="509">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <table>
              <tbody>
              <tr>
                <td width="170">
                  <p><strong>Item Name / Product Description</strong></p>
                </td>
                <td width="57">
                  <p><strong>#Box</strong></p>
                </td>
                <td width="64">
                  <p><strong>#Size</strong></p>
                </td>
                <td width="64">
                  <p><strong>Square Feet</strong></p>
                </td>
                <td width="71">
                  <p><strong>Unit Price</strong></p>
                </td>
                <td width="71">
                  <p><strong>Total</strong></p>
                </td>
              </tr>
              <tr>
                <td width="170">
                  <p>Porcelain Tiles &ndash; Design:F10S5P1</p>
                </td>
                <td width="57">
                  <p>8</p>
                </td>
                <td width="64">
                  <p>24*24</p>
                </td>
                <td width="64">
                  <p>124</p>
                </td>
                <td width="71">
                  <p>$2</p>
                </td>
                <td width="71">
                  <p>$248.00</p>
                </td>
              </tr>
              <tr>
                <td width="170">
                  <p>Porcelain Tiles &ndash; Design:F10S5P1</p>
                </td>
                <td width="57">
                  <p>2</p>
                </td>
                <td width="64">
                  <p>24*24</p>
                </td>
                <td width="64">
                  <p>31</p>
                </td>
                <td width="71">
                  <p>$2</p>
                </td>
                <td width="71">
                  <p>$62.00</p>
                </td>
              </tr>
              <tr>
                <td width="170">
                  <p>&nbsp;</p>
                </td>
                <td width="57">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td width="170">
                  <p>&nbsp;</p>
                </td>
                <td width="57">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td width="170">
                  <p>&nbsp;</p>
                </td>
                <td width="57">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="64">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td colspan="4" rowspan="5" width="355">
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>GST#</p>
                  <p>QST#</p>
                  <p>&nbsp;</p>
                </td>
                <td width="71">
                  <p>Subtotal</p>
                </td>
                <td width="71">
                  <p>$310.00</p>
                </td>
              </tr>
              <tr>
                <td width="71">
                  <p>GST 5%</p>
                </td>
                <td width="71">
                  <p>$15.50</p>
                </td>
              </tr>
              <tr>
                <td width="71">
                  <p>QST 9.975%</p>
                </td>
                <td width="71">
                  <p>$30.92</p>
                </td>
              </tr>
              <tr>
                <td width="71">
                  <p>HST</p>
                </td>
                <td width="71">
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td width="71">
                  <p><strong>Total</strong></p>
                </td>
                <td width="71">
                  <p>$356.42</p>
                </td>
              </tr>
              </tbody>
            </table>
            <p>&nbsp;</p>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="65">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <h4>Ship To:</h4>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="248">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <table>
              <tbody>
              <tr>
                <td width="68">
                  <p><strong>Company Name</strong></p>
                </td>
                <td width="173">
                  <p><strong>Manmohan Tiwari</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>Address</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>City, State</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>Zip Code</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>Phone</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>&nbsp;</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>&nbsp;</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>&nbsp;</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              <tr>
                <td width="68">
                  <p><strong>&nbsp;</strong></p>
                </td>
                <td width="173">
                  <p><strong>&nbsp;</strong></p>
                </td>
              </tr>
              </tbody>
            </table>
            <p><strong>``</strong></p>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="184">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <p><strong><em><u>NORTH AMERICAN TRADERS</u></em></strong></p>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="227">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <h4>Bill To:</h4>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<table>
  <tbody>
  <tr>
    <td width="206">
      <table width="100%">
        <tbody>
        <tr>
          <td>
            <p>&nbsp;</p>
          </td>
        </tr>
        </tbody>
      </table>
      &nbsp;</td>
  </tr>
  </tbody>
</table>

<p>
  <%= submit_tag "Find Zips!", :class => 'btn' %>
</p>

</body>
</html>

