<html>
<head>
  <title>Example Zip Code Search</title>
  <style type="text/css">
    body {
      font: 0.9em Arial, Helvetica, sans-serif;
    }
    h1 { font: 1.2em Arial, Helvetica, sans-serif; }
    input.txt { color: #00008b;
      background-color: #c4f1c0;
      border: 1px inset #00008B;
      width: 100px;
    }
    input.btn {
      color: #00008b;
      background-color: #c4f1c0;
      border: 1px outset #00008B;
    }
    form p {
      clear: left;
      margin: 0;
      padding: 0;
      padding-top: 5px;
    }
    form p label {
      float: left;
      width: 180px;
      font: bold 0.9em Arial, Helvetica, sans-serif;
    }
    table {
      margin-left: 30px;
      border: 1px solid #D6DDE6;
      border-collapse: collapse;
    }
    td {
      border: 1px solid #6b9c0d;
      text-align: center;
      padding: 4px;
      font-size: 10px;

    }
    th {
      border: 1px solid #6b9c0d;
      background-color: #c4f1c0;
      color: #000;
      font-weight: bold;
      padding: 5px;
      font-size: 12px;
    }

  </style>
</head>
<body>
<% delivery_options = {"Customer Pick Up"=>:customer_pickup, "Delivered by Club Ceramic"=>:by_clubceramic, "other"=>:other}   %>
<% tile_types = {"Select Type"=>:select_one, "Floor Tiles"=>:floor, "Wall Tiles"=>:wall, "Parking Tiles"=>:parking}   %>
<h1> Club Ceramic Invoice </h1>

<%= form_tag({:controller => "clubceramic_invoice", :action => "create_invoice"}) %>
<table>
  <tr>
    <td colspan="2">
      <p>
        <label for="invoice_date">Invoice Date:</label> <%= date_field_tag :invoice_date, nil, :class => 'txt' %></p>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        <label for="delivery_date">Delivery Date:</label> <%= date_field_tag :delivery_date, nil, :class => 'txt' %></p>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        <label for="delivery_method">Delivery Method:</label> <%= select_tag :delivery_method, options_for_select(delivery_options), :class => 'txt' %></p>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        <label for="delivery_date">Sales Rep / Referral:</label> <%= text_field_tag :sales_rep, nil, :class => 'txt' %></p>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <h1><label for="radius">Bill To:</label></h1>
      <p>
        <label for="customer_name">Customer/Company Name:</label> <%= text_field_tag :zip, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="address">Address:</label> <%= text_field_tag :address, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="city">City:</label> <%= text_field_tag :city, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="zip">Zip Code:</label> <%= text_field_tag :zip, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="phone">Phone:</label> <%= text_field_tag :phone, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="email">Email:</label> <%= text_field_tag :email, nil, :class => 'txt' %></p>
      </p>
    </td>
    <td>
      <h1><label for="radius">Ship To:</label></h1>
      <p>
        <label for="customer_name">Customer/Company Name:</label> <%= text_field_tag :zip, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="address">Address:</label> <%= text_field_tag :address, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="city">City:</label> <%= text_field_tag :city, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="zip">Zip Code:</label> <%= text_field_tag :zip, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="phone">Phone:</label> <%= text_field_tag :phone, nil, :class => 'txt' %></p>
      </p>
      <p>
        <label for="email">Email:</label> <%= text_field_tag :email, nil, :class => 'txt' %></p>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <label for="tile_type">Tile Type:</label> <%= select_tag :tile_type, options_for_select(tile_types),  :onchange => "leaveChange()", :class => 'txt' %></p>
      </p>

    </td>
    <td>
      <p>
        <label for="item_name">Item / Product Name:</label> <%= select_tag :item_name,  :class => 'txt' %></p>
      </p>
    </td>
    <td>
      <p>
        <label for="unit_price">Unit Price / Per Sq. Ft:</label> <%= text_field_tag :unit_price, nil, :class => 'txt' %></p>
      </p>
    </td>
    <td>
      <p>
        <label for="num_boxes">Boxes:</label> <%= text_field_tag :num_boxes, nil, :class => 'txt' %></p>
      </p>
    </td>
  </tr>

</table>



<p>
  <%= submit_tag "Find Zips!", :class => 'btn' %>
</p>

</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= javascript_tag do %>
    function leaveChange() {
      var category, e, url;
      e = document.getElementById('tile_type');
      category = e.options[e.selectedIndex].value;
      url = "/clubceramic_invoice/get_items_by_type?tile_type=" + category;
      return $.get(url, function(data) {
      var selectbox2;
      selectbox2 = $('#item_name');
      selectbox2.empty();
      return $.each(data, function(index, value) {
      var opt;
      opt = $('<option/>');
      opt.attr('value', value);
      opt.text(value);
      opt.appendTo(selectbox2);
      });
      });
      }
<% end %>

