!!!
%html
  %head
    %title Example Zip Code Search
    :css
      body {
        font: 0.9em Arial, Helvetica, sans-serif;
      }
      h1 { font: 1.2em Arial, Helvetica, sans-serif; }
      input.txt { color: #00008b;
        background-color: #c4f1c0;
        border: 1px inset #00008B;
        width: 100px;
      }
      input.btn {
        color: #00008b;
        background-color: #c4f1c0;
        border: 1px outset #00008B;
      }
      form p {
        clear: left;
        margin: 0;
        padding: 0;
        padding-top: 5px;
      }
      form p label {
        float: left;
        width: 180px;
        font: bold 0.9em Arial, Helvetica, sans-serif;
      }
      table {
        margin-left: 30px;
        border: 1px solid #D6DDE6;
        border-collapse: collapse;
      }
      td {
        border: 1px solid #6b9c0d;
        text-align: center;
        padding: 4px;
        font-size: 10px;

      }
      th {
        border: 1px solid #6b9c0d;
        background-color: #c4f1c0;
        color: #000;
        font-weight: bold;
        padding: 5px;
        font-size: 12px;
      }
  %body
    - delivery_options = {"Customer Pick Up"=>:customer_pickup, "Delivered by Club Ceramic"=>:by_clubceramic, "other"=>:other}
    - tile_types = {"Select Type"=>:select_one, "Floor Tiles"=>:floor, "Wall Tiles"=>:wall, "Parking Tiles"=>:parking}
    %h1 Club Ceramic Invoice
    = form_tag({:controller => "clubceramic_invoice", :action => "create_invoice"},:method =>"post")
      %table
        %tr
          %td{:colspan => "2"}
            %p
              %label{:for => "invoice_date"} Invoice Date:
              = date_field_tag :invoice_date, nil, :class => 'txt'
        %tr
          %td{:colspan => "2"}
            %p
              %label{:for => "delivery_date"} Delivery Date:
              = date_field_tag :delivery_date, nil, :class => 'txt'
        %tr
          %td{:colspan => "2"}
            %p
              %label{:for => "delivery_method"} Delivery Method:
              = select_tag :delivery_method, options_for_select(delivery_options), :class => 'txt'
        %tr
          %td{:colspan => "2"}
            %p
              %label{:for => "delivery_date"} Sales Rep / Referral:
              = text_field_tag :sales_rep, nil, :class => 'txt'
        %tr
          %td
            %h1
              %label{:for => "radius"} Bill To:
            %p
              %label{:for => "customer_name"} Customer/Company Name:
              = text_field_tag :zip, nil, :class => 'txt'
            %p
              %label{:for => "address"} Address:
              = text_field_tag :address, nil, :class => 'txt'
            %p
              %label{:for => "city"} City:
              = text_field_tag :city, nil, :class => 'txt'
            %p
              %label{:for => "zip"} Zip Code:
              = text_field_tag :zip, nil, :class => 'txt'
            %p
              %label{:for => "phone"} Phone:
              = text_field_tag :phone, nil, :class => 'txt'
            %p
              %label{:for => "email"} Email:
              = text_field_tag :email, nil, :class => 'txt'
          %td
            %h1
              %label{:for => "radius"} Ship To:
            %p
              %label{:for => "customer_name"} Customer/Company Name:
              = text_field_tag :zip, nil, :class => 'txt'
            %p
              %label{:for => "address"} Address:
              = text_field_tag :address, nil, :class => 'txt'
            %p
              %label{:for => "city"} City:
              = text_field_tag :city, nil, :class => 'txt'
            %p
              %label{:for => "zip"} Zip Code:
              = text_field_tag :zip, nil, :class => 'txt'
            %p
              %label{:for => "phone"} Phone:
              = text_field_tag :phone, nil, :class => 'txt'
            %p
              %label{:for => "email"} Email:
              = text_field_tag :email, nil, :class => 'txt'
        %tr
          %td
            %p
              %label{:for => "tile_type"} Tile Type:
              = select_tag :tile_type, options_for_select(tile_types),  :onchange => remote_request(:post, :change_items, {:tile_type=>"$('#tile_type').val()"}, :item_name), :class => 'txt'
          %td
            %p
              %label{:for => "item_name"} Item / Product Name:
              = select_tag :item_name, "Select a tile type", :class => 'txt'
          %td
            %p
              %label{:for => "unit_price"} Unit Price / Per Sq. Ft:
              = text_field_tag :unit_price, nil, :class => 'txt'
          %td
            %p
              %label{:for => "num_boxes"} Boxes:
              = text_field_tag :num_boxes, nil, :class => 'txt'
        %tr
          %td
            %p
              %label{:for => "tile_type"} Tile Type:
              = select_tag :tile_type, options_for_select(tile_types), :class => 'txt'
          %td
            %p
              %label{:for => "item_name"} Item / Product Name:
              = text_field_tag :sales_rep, nil, :class => 'txt'
          %td
            %p
              %label{:for => "unit_price"} Unit Price / Per Sq. Ft:
              = text_field_tag :unit_price, nil, :class => 'txt'
          %td
            %p
              %label{:for => "num_boxes"} Boxes:
              = text_field_tag :num_boxes, nil, :class => 'txt'
        %tr
          %td
            %p
              %label{:for => "tile_type"} Tile Type:
              = select_tag :tile_type, options_for_select(tile_types), :class => 'txt'
          %td
            %p
              %label{:for => "item_name"} Item / Product Name:
              = text_field_tag :sales_rep, nil, :class => 'txt'
          %td
            %p
              %label{:for => "unit_price"} Unit Price / Per Sq. Ft:
              = text_field_tag :unit_price, nil, :class => 'txt'
          %td
            %p
              %label{:for => "num_boxes"} Boxes:
              = text_field_tag :num_boxes, nil, :class => 'txt'
        %tr
          %td
            %p
              %label{:for => "tile_type"} Tile Type:
              = select_tag :tile_type, options_for_select(tile_types), :class => 'txt'
          %td
            %p
              %label{:for => "item_name"} Item / Product Name:
              = text_field_tag :sales_rep, nil, :class => 'txt'
          %td
            %p
              %label{:for => "unit_price"} Unit Price / Per Sq. Ft:
              = text_field_tag :unit_price, nil, :class => 'txt'
          %td
            %p
              %label{:for => "num_boxes"} Boxes:
              = text_field_tag :num_boxes, nil, :class => 'txt'
        %tr
          %td
            %p
              %label{:for => "tile_type"} Tile Type:
              = select_tag :tile_type, options_for_select(tile_types), :class => 'txt'
          %td
            %p
              %label{:for => "item_name"} Item / Product Name:
              = text_field_tag :sales_rep, nil, :class => 'txt'
          %td
            %p
              %label{:for => "unit_price"} Unit Price / Per Sq. Ft:
              = text_field_tag :unit_price, nil, :class => 'txt'
          %td
            %p
              %label{:for => "num_boxes"} Boxes:
              = text_field_tag :num_boxes, nil, :class => 'txt'
      %p
        %label{:for => "radius"} Search Radius:
        = select_tag('radius', options_for_select({'1 mile' => 1, '5 miles' => 5, '10 miles' => 10, '25 miles' => 25, '50 miles' => 50, '100 miles' => 100}), :class => 'txt')
      %p
        = submit_tag "Find Zips!", :class => 'btn'
    %html
      = javascript_tag do
        page.replacehtml 'item_name', optionsfromcollectionforselect(@machines, "id", "name")